@import "utils";

body {
  background: #0f0f0f;
  $font-title: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
}

#about {
  background: #000524;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;

  h2 {
    font: 22px/30px;
    color: #fff;
    margin-bottom: 12px;
  }

  p {
    line-height: 30px;
    color: #ccc;
  }

  .row-container {
    display: flex;
    justify-content: center;
  }

  .about-container {
    width: 34%;
  }

  .profile {
    &-container {
      display: flex;
      margin-right: 27px;
    }

    &-pic {
      position: relative;
      border-radius: 50%;
      max-width: 8rem;
      max-height: 8rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);

      &:hover {
        border: 0.5rem solid rgba(254, 105, 40, 0.2);
        transition: ease;
        transition-duration: 300ms;
      }
    }

  }

  .contact-details {
    width: 41.66667%;
  }

  .download {
    width: 58.33333%;
    padding-top: 6px;

    .button {
      color: #fff;

      > svg {
        margin-right: 10px;
      }

      margin-top: 6px;
      background: #444;

      &:hover {
        background: $color-primary;
      }

      i {
        margin-right: 15px;
        font-size: 20px;
      }
    }
  }

  .main-col {
    padding-right: 5%;
  }

  .contact-container {
    display: flex;
  }

  .address {
    p {
      line-height: 0.7em;
    }

    a {
      line-height: 0.7em;
      text-decoration: none;
      color: #ccc;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .button {
    font: 16px/30px 'Ubuntu', sans-serif;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
  }

  @include respond-to('mobile', false) {
    .row-container {
      display: flex;
      flex-direction: column;

      .about-container {
        width: 100%;
        text-align: center;
      }

      .profile-container {
        display: flex;
        justify-content: center;
      }
    }
    .contact-container {
      display: flex;
      flex-direction: column;

      .contact-details {
        width: 100%;
      }
    }
    .download {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

