@import "utils";

body {
  padding: 0;
  margin: 0;
  background: #0f0f0f;
  font-family: $font-title;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 2rem;

    &:hover {
      background-color: $color-primary;
    }
  }
}


header {
  position: relative;
  min-height: 500px;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
  }

  .banner-text {
    width: 100%;

    h1 {
      .lastname {
        color: $color-primary;
      }

      font: 90px/1.1em Ubuntu;
      color: #fff;
      letter-spacing: -2px;
      margin: 0 auto 18px auto;
      font-weight: 800;
    }

    h3 {
      font: 18px/1.9em;
      font-weight: 300;
      color: #ddd;
      margin: 0 auto;
      width: 70%;

      span {
        color: #fff;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }
    }

    hr {
      width: 60%;
      margin: 18px auto 24px auto;
      border-color: #2F2D2E;
      border-color: rgba(150, 150, 150, .1);
    }
  }

  .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;

    li {
      display: inline-block;
      margin: 0 15px;
      padding: 0;

      a {
        color: #fff;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .scrolldown {
    a {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -29px;
      color: #fff;
      display: block;
      height: 42px;
      width: 42px;
      font-size: 42px;
      line-height: 42px;
      border-radius: 100%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

#nav-wrap {
  ul {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  li {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  .current {
    color: $color-primary;
  }

  a {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }

  font: 12px 'Ubuntu', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  font-weight: 800;
  left: 0;
  top: 0;

  > a.mobile-btn {
    display: none;
  }
}

.opaque {
  background-color: #333;
}
