@import "utils";

.interest-section {
  background-color: #efefef;
  display: flex;
  align-items: center;
  padding: 30px;
  color: #868e96;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

  a {
    color: #1e1e1e;
    text-decoration: none;
    margin-left: 5px;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .w-100 {
    width: 100%;
  }

  .mb-5 {
    margin-bottom: 50px;
  }

  .interest-container {
    display: flex;
    justify-content: space-evenly;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.5px;
    color: $color-primary;
    font-weight: 800;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
  }

  .interest {
    &-img {
      border-radius: 10px;
      transition: transform .2s;
      height: 80%;
      width: 20vw;

      &:hover {
        transform: scale(1.2);
      }
    }

    &-title {
      text-align: center;
    }
  }

  @include respond-to('mobile', false) {
    .interest-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .interest-desc {
      width: 100%;
    }

    .interest-img {
      border-radius: 10px;
      transition: transform .2s;
      height: 80%;
      width: 90vw;

      &:hover {
        transform: scale(1.20);
      }
    }
  }
}

