@import "utils";

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.skills-container {
  margin-top: -50px;
  font-size: 13px;
  background-color: #e7e7e7;

  h1 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.5px;
    color: $color-primary;
    font-weight: 800;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
  }

  .skills {
    margin: 0 0 30px 0;
    padding: 0;
    width: calc(100% - 50px);

    li {
      display: block;
      position: relative;
      background-color: #888;
      color: #fff;
      margin: 10px 0;
      transition: width 300ms ease-in-out;

      .collapsed & {
        width: 0 !important;
      }

      p {
        padding: 10px;
        margin: 0;
        font-weight: bold;
      }

      span {
        position: absolute;
        right: 10px;
        display: inline-block;
        width: 30px;
        top: 11px;
        text-align: right;
        font-weight: normal;
        color: #fff;
        font-size: 11px;
      }
    }
  }
}

hr {
  height: 1px;
  border: 0;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

small {
  font-size: 11px;
  color: #666;

  a {
    color: inherit;
  }
}
