@mixin respond-to($breakpoint, $mobile-first: true) {
  @if $mobile-first == true {
    @if map-has-key($breakpoints-min, $breakpoint) {
      @media #{inspect(map-get($breakpoints-min, $breakpoint))} {
        @content;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
  } @else {
    @if map-has-key($breakpoints-max, $breakpoint) {
      @media #{inspect(map-get($breakpoints-max, $breakpoint))} {
        @content;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }

}

$breakpoints-min: (
        'mobile': (max-width: 767px),
        'tablet': (min-width: 768px),
        'desktop': (min-width: 992px),
        'large': (min-width: 1200px),
) !global;


$breakpoints-max: (
        'mobile': (max-width: 767px),
        'tablet': (max-width: 991px),
        'desktop': (max-width: 1199px),
) !global;

$background: #252827;

$color-primary: #fe6928;
$color-light: white;
$color-dim: #6c6d6d;
$white: #fff;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: 'Ubuntu', sans-serif;
$font-text: 'Ubuntu', sans-serif;
