@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: bold;
  font-weight: 800;
  src: url("./Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("./Ubuntu-Light.ttf");
}
